//CONTENT CONTAINER
$img-height: auto;

#content-container {
    width: 100%;
    height: auto;
}

//PROJECT PREVIEW CONTAINER

.project-preview {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
    height: 90vh;
    max-height: 90vh;
    width: 100vw;
    padding: 1rem 2rem;

    & .info-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        h2 {
            font-size: 1.6rem;
            margin-bottom: 1rem;
            margin-top: 1.2rem;
        }

        p {
            margin-bottom: 1rem;
        }
    }
}


@media screen and (min-width: $breakpoint-sm) {
    button {
        -ms-flex-item-align: end;
        align-self: flex-end;
    }

    .project-preview {
        & .info-container h2 {
            font-size: 2rem;
            margin-bottom: 1.25rem;
        }
    }
}

@media screen and (min-width: $breakpoint) {
    $nav-height: 80px;


    #content-container {
        width: calc(100% - #{$intro-width});
        // margin-left: calc(#{$intro-width} + 20px);
        margin-left: calc(#{$intro-width});
        border-left: 2px solid $cr-neutral-100;
    }

    #nav-container.cs-active+#content-container {
        border-left: none;
    }

    .project-preview {
        width: 100%;
        height: 90vh;
        padding: 2rem 4rem 1rem 4rem;
    }
}

@media screen and(min-width: $breakpoint-lg) and (min-height: $breakpoint-lg) {
    .video {
        height: 60%;
    }
}


.noScroll {
    overflow: hidden;
}




#preview-content {
    position: relative;
    display: grid;
    width: inherit;
    max-width: $breakpoint-lg;
    height: auto;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 2.5rem;
    padding: 1rem 1rem;
    justify-self: center;
    margin: 0 auto;

    @media screen and (min-width: $breakpoint-sm) {
        & {
            // grid-column-gap: 2rem;
            padding: 1rem;
            grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
        }
    }

    @media screen and (min-width: $breakpoint-lg) {
        & {
            grid-column-gap: 1rem;
            padding: 1rem 1rem;
            grid-template-columns: 1fr 1fr;
        }
    }

    & section {
        height: auto;
    }

    & .case {
        opacity: 0;
        position:relative;
        height: -webkit-min-content;
        height: -moz-min-content;
        height: min-content;
        display: grid;
        // grid-template-rows: 80% 1fr;
        // border-bottom: 2px solid $cr-neutral-100;
        -webkit-transition: -webkit-transform .2s ease-in-out;
        transition: -webkit-transform .2s ease-in-out;
        transition: transform .2s ease-in-out;
        transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;

        &:active, &:hover, &:focus {
            cursor: pointer;
            -webkit-transform: scale(.95);
            transform: scale(.95);
        }

        &-hover:not([data-disable="true"]) {
            display: none;
        }

        &-hover[data-disable="true"] {
            content: "Coming Soon";
            background: rgba($cr-blue-base, 0.95);
            position:absolute;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            height:100%;
            width: 100%;
            opacity: 0;
            z-index: 9999;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            text-align: center;
            color: #fff;
            cursor: pointer;


            &:active, &:hover, &:focus {
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                opacity: 1;
            }
        }


        &__image {
            position:relative;
            height: $img-height;
            max-width: 100%;
        }

        &__content {
            display: grid;
            grid-template-rows: auto 1fr auto;
            margin: 0.5rem 0 0.5rem 0rem;
            -ms-flex-line-pack: justify;
            align-content: space-between;
            // grid-row-gap: 0.5rem;

            &:first-child {
                margin-top: 2rem;
            }

            .content__description {
                margin: 2rem 0rem;
            }
        }

        // &__content {
        //     display: grid;
        //     /* grid-template-rows: auto 1fr auto; */
        //     /* margin: 0.5rem 0 0.5rem 0rem; */
        //     -ms-flex-line-pack: justify;
        //     /* align-content: space-between; */
        //     position: absolute;
        //     height: 100%;
        //     width: 100%;
        //     background: rgba(0,0,0,0.6);
        //     color: #fff;
        //     text-align: center;
        //     opacity: 0;

        //     &:hover {
        //         opacity: 1;
        //         transition: all 0.5s ease-in-out;
        //     }
        // }

        &__name {
            -ms-flex-item-align: end;
            align-self: end;
        }
    }
}

.prototype-embed {
    position: relative;
    width: 100vw;
    height: 87vh;
    max-width: 1384px;
    display: flex;
    justify-self: center;

    & > * {
        width: inherit;
        height: inherit;
    }

    @media screen and (min-width: $breakpoint-sm) {
        height: 90vh;
    }
}