section {
    height: 100%;
}

.section-divider {
    width: 100%;
    font-weight: 900;
    font-size: 12vw;
    padding: 40vh 2rem;
    margin: 6rem 0 2rem 0;
    // color: $primary-white;
    text-align: center;
    // background: $primary-red;

    @media screen and (min-width: $breakpoint) {
        // padding: 34vh 2rem;
    }
}

.margin-32 {
    padding: 5rem 0;
}