@mixin background($color) {
    background: $color;
}

button {
    padding: .75rem 4rem;
    text-align: center;
    border: 0px solid $primary-grey;
    box-shadow: inset 0px 0px 0px 3px $primary-red;
    border-radius: 16px;
    font-size: 1rem;
    font-weight: 700;
    table-layout: fixed;
    border-collapse: collapse;
    width: 70%;
    white-space: nowrap;
    min-width: max-content;
    max-width: 220px;

    @media screen and (min-width: $breakpoint-sm) {
        width: 28%;
    }
    @media screen and (min-width: $breakpoint) {
        padding: .8rem 5rem;
        width: 100%;
    }
    @media screen and (min-width: $breakpoint-lg) {
        padding: 1rem 5rem;
    }

    & + & {
        margin: 1rem .5rem 0 0rem;

        @media screen and (min-width: $breakpoint-sm) {
            margin: 1rem .5rem 0 1rem;
        }
        @media screen and (min-width: $breakpoint) {
            margin: 1rem .5rem 0 0rem;
        }

        @media screen and (min-width: $breakpoint-lg) {
            margin: 1rem .5rem 0 1rem;
        }
    }

    &.primary {
        @include background($primary-red);
        color: $primary-white;
        box-shadow: inset 0px 0px 0px 3px $primary-red;


        #nav-container &:focus, #nav-container &:hover {
            @include background($primary-white);
            color: $primary-black;
            border-color: $primary-red;
            transition: border-color, color, background .3s ease-in-out;
        }
    }

    &.secondary {
        @include background($primary-white);
        border-color: $primary-red;
        // border: 6px solid $primary-grey;
        // border-radius: 10px;

        
        #nav-container &:focus, #nav-container &:hover {
            @include background($primary-red);
            color: $primary-white;
            transition: color, background .3s ease-in-out;
        }
    }

    &.blah-primary {
        @include background($blah-primary);
        box-shadow: inset 0px 0px 0px 3px $primary-white;

        &:focus, &:hover {
            @include background($blah-secondary);
            transition: color, background .3s ease-in-out;
        }
    }
    
    &.cuny-primary{
        @include background($cuny-primary);
        color: $primary-white;
        box-shadow: inset 0px 0px 0px 3px $primary-white;

        &:focus, &:hover {
            @include background($cuny-secondary);
            color: $primary-black;
            transition: color, background .3s ease-in-out;
        }
    }

    &.blah-secondary {
        @include background($blah-secondary);
        box-shadow: inset 0px 0px 0px 3px $primary-white;

        &:focus, &:hover {
            @include background($blah-primary);
            transition: color, background .3s ease-in-out;
        }
    }
    
    &.cuny-secondary{
        @include background($cuny-secondary);
        color: $primary-black;
        box-shadow: inset 0px 0px 0px 3px $primary-white;

        &:focus, &:hover {
            @include background($cuny-primary);
            color: $primary-white;
            transition: color, background .3s ease-in-out;
        }
    }
}

.text-button {
    display: flex;
    background: $primary-grey;
    align-items:center;
    width: max-content;
    padding: 1.3rem 4rem;
    height:2rem;
    text-align: center;
    background: $primary-white;
    border: 2px solid $primary-grey;
    border-radius: 1rem;
    color: $primary-black;
    font-weight: 600;
    transition: all .3s ease-in-out; 
    justify-self: center;

    &:hover {
        background: $primary-black;
        border: 2px solid $primary-black;
        color: $primary-white;
    }
   
}   

.circle-arrow {
    min-width: 4rem;
    min-height: 4rem;
    border-radius: 50%;
    padding: 1rem;
    align-self: flex-end;
    background: rgba($primary-grey, .5);
    stroke: $primary-black;
    transition: all .2s ease-in-out;
    transform: scale(.8);

    &.back-button, &.next-button {
        position: fixed;
        bottom: 0;
        right: 0;
        margin-right: 6rem;
        margin-bottom: 1rem;
        opacity: .4;
    }

    &.next-button {
        transform: rotate(0deg) scale(.7);
        margin-right: 1rem;
    }

    &.back-button {
        transform: rotate(180deg) scale(.7);
        margin-right: 1rem;
        margin-bottom: 5.5rem;

        &::before {
            content: 'prev';
            display: block;
            position: absolute;
            height: max-content;
            width: max-content;
            color: #000;
            font-size: 1rem;
            bottom: 0;
        }
    }

    @media screen and (min-width: $breakpoint-sm) {
        &.back-button, &.next-button {
            transform: rotate(180deg) scale(.85);
            margin-bottom: 2rem;
        }

        &.next-button {
            transform: rotate(0deg);
            margin-right: 3rem;
        }

        &.back-button {
            transform: rotate(180deg);
            right: 0;
            // margin-left: 0px;
            margin-right: 9rem;
        }

    }

    @media screen and (min-width: $breakpoint) {
        & {
            transform: scale(1);


            &.back-button, &.next-button {
                margin-bottom: 3rem;
            }
        }
    }

    &:hover {
        background: $primary-black;
        stroke: $primary-white;
        opacity: 1;
    }
}