$primary-red: rgb(255, 87, 87);
$primary-orange: rgb(255, 171, 87);
$primary-red-darken: rgb(231, 52, 52);
$primary-green: hsl(124, 100%, 36%);
$heart: #ED1C24;
$primary-white: #FFFFFF;
$primary-grey: rgb(62, 62, 62);
$primary-black: #1e1e1e;
$blah-primary: #24BDFF;
$blah-secondary: #05A8FF;
$blah-primary-light: hsl(210, 100%, 56%);
$cuny-primary: #FFB81C;
$cuny-secondary: #FFD780;
$cuny-primary-light: rgb(255, 199, 77);
$cuny-primary-blue: #1D3A83;
$salvation-primary-red: #E41E2E;
$salvation-secondary: rgb(9,16,6);
$sex-yellow: #FFF22D;
$sex-blue: #4FB9EF;
$sex-red: #CC1C54;
$gladwell-blue: rgba(22, 149, 225, 1);

.blah-primary {
    background: $blah-primary;
    color: $primary-white;
}
.blah-secondary {
    background: $blah-secondary;
    color: $primary-white;
}

.blah-primary-light {
    background: $blah-primary-light;
    color: $primary-white;
}

.blah-primary-text {
    color: $blah-primary;
}
.blah-secondary-text{
    color: $blah-secondary;
}

.cuny-primary {
    background: $cuny-primary;
    color: $primary-black;
}

.cuny-primary-light {
    background: $cuny-primary-light;
    color: $primary-white;
}

.cuny-primary-blue {
    background: $cuny-primary-blue;
    color: $primary-white;
}

.cuny-primary-text {
    color: $cuny-primary;
}

.cuny-primary-blue-text {
    color: $cuny-primary-blue;
}
.gladwell-blue {
    background:$gladwell-blue;
    color: $primary-white;
}

.primary-white {
    background: $primary-white;
    color: $primary-black;
}
.primary-white-text {
    color: $primary-white;
}

.primary-black-text {
    color: $primary-black;
}


.salvation-primary-red {
    background: $salvation-primary-red;
    color: $primary-white;
}

.salvation-secondary{
    background: $salvation-secondary;
    color: $primary-white;
}

.sex-yellow {
    background: $sex-yellow;
    color: $primary-black;
}
.sex-blue {
    background: $sex-blue;
    color: $primary-white;
}
.sex-blue-text {
    color: $sex-blue;
}
.sex-red {
    background: $sex-red;
    color: $primary-white;
}
.sex-red-text {
    color: $sex-red;
}