img {
    width: 100%;
}

%image__container {
        width: 100vw;
        min-height: 20rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 40rem));
        justify-content: center;
        grid-row-gap: 3rem;
        grid-column-gap: 3rem;
        padding: 0 2rem;
        text-align: end;
        align-content:center;

        @media screen and (min-width: $breakpoint-sm) {
            & {
                width: 100%;
            }
        }   
}

.image__container {

        &-xs {
            @extend %image__container;
            grid-template-columns: repeat(auto-fit, minmax(20rem, 22rem));
        }

        &-sm {
            @extend %image__container;
            grid-template-columns: repeat(auto-fit, minmax(20rem, 25rem));
        }

        &-md {
            @extend %image__container;
            grid-template-columns: repeat(auto-fit, minmax(20rem, 30rem));
        }

        &-lg {
            @extend %image__container;
            grid-template-columns: repeat(auto-fit, minmax(20rem, 40rem));
        }

        &-full {
            @extend %image__container;
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
            padding: 0;
        }
}


.safesex {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 40rem));
}