img {
    width: 100%;
}

%image__container {
        width: 100%;
        min-height: 0rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 40rem));
        justify-content: center;
        grid-row-gap: 3rem;
        grid-column-gap: 3rem;
        padding: 0 2rem;
        text-align: end;

        @media screen and (min-width: $breakpoint-sm) {
            & {
                width: 100%;
            }
        }   
}

.image__container {

    min-height: 60rem;

        *:not(&-full) > img {
            height: 100%;
            object-fit: contain;
        }

        &-xs {
            @extend %image__container;
            grid-template-columns: repeat(auto-fit, minmax(10rem, 22rem));
        }

        &-sm {
            @extend %image__container;
            grid-template-columns: repeat(auto-fit, minmax(10rem, 25rem));
        }

        &-md {
            @extend %image__container;
            grid-template-columns: repeat(auto-fit, minmax(10rem, 30rem));
        }

        &-lg {
            @extend %image__container;
            grid-template-columns: repeat(auto-fit, minmax(10rem, 40rem));
        }

        &-full {
            @extend %image__container;
            grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
            padding: 0;
        }
}

.section-title {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
}