.info-container {
    position: relative;
    overflow: visible;

    p {
        max-width: 98%;
        line-height: 150%;
    }

    p:first-of-type {
        margin-bottom: 1rem;
    }

    p:last-of-type {

        @media screen and (min-width: $breakpoint-sm) {
            max-width: 70%;
        }

        @media screen and (min-width: $breakpoint) {
            max-width: 450px;
        }
    }
}