.progress-bar {
    width: 0%;
    position: fixed;
    left:0;
    top: $nav-height;
    height: .25rem;
    background: rgb(50,164,86);
    background: -webkit-gradient(linear, left top, right top, from(rgba(50,164,86,1)), to(rgba(72,217,67,1)));
    background: linear-gradient(90deg, rgba(50,164,86,1) 0%, rgba(72,217,67,1) 100%);
  }