@import 'reset';
@import 'colors';
@import 'font-sizes';
@import 'breakpoints';
@import 'button';
@import 'section';
@import 'content';
@import 'info-container';
@import 'nav-container';
@import 'case';
@import 'images';
@import 'animate';

* {
    font-family: nunito-sans, sans-serif;
    font-size: 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background: $primary-white;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}


hl {
    color: $primary-black;
    // font-weight: 600;
 }

 .active {
     display: block;
 }